@font-face {
  font-family: 'ag_book_stencil';
  src: url("../fonts/ag_book_stencil-webfont.eot");
  src: url("../fonts/ag_book_stencil-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ag_book_stencil-webfont.woff2") format("woff2"), url("../fonts/ag_book_stencil-webfont.woff") format("woff"), url("../fonts/ag_book_stencil-webfont.ttf") format("truetype"), url("../fonts/ag_book_stencil-webfont.svg#ag_book_stencilmedium") format("svg");
  font-weight: normal;
  font-style: normal; }
meta.foundation-version {
  font-family: "/5.5.2/"; }

meta.foundation-mq-small {
  font-family: "/only screen/";
  width: 0; }

meta.foundation-mq-small-only {
  font-family: "/only screen and (max-width: 40em)/";
  width: 0; }

meta.foundation-mq-medium {
  font-family: "/only screen and (min-width:40.0625em)/";
  width: 40.0625em; }

meta.foundation-mq-medium-only {
  font-family: "/only screen and (min-width:40.0625em) and (max-width:64em)/";
  width: 40.0625em; }

meta.foundation-mq-large {
  font-family: "/only screen and (min-width:64.0625em)/";
  width: 64.0625em; }

meta.foundation-mq-large-only {
  font-family: "/only screen and (min-width:64.0625em) and (max-width:90em)/";
  width: 64.0625em; }

meta.foundation-mq-xlarge {
  font-family: "/only screen and (min-width:90.0625em)/";
  width: 90.0625em; }

meta.foundation-mq-xlarge-only {
  font-family: "/only screen and (min-width:90.0625em) and (max-width:120em)/";
  width: 90.0625em; }

meta.foundation-mq-xxlarge {
  font-family: "/only screen and (min-width:120.0625em)/";
  width: 120.0625em; }

meta.foundation-data-attribute-namespace {
  font-family: false; }

html {
  position: relative;
  min-height: 100%; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  margin: 0; }
  @media only screen and (min-width: 40.0625em) {
    html {
      margin: 1.438em; } }

html,
body {
  font-size: 75%; }
  @media only screen and (min-width: 40.0625em) {
    html,
    body {
      font-size: 90%; } }
  @media only screen and (min-width: 64.0625em) {
    html,
    body {
      font-size: 100%; } }

body {
  background: #fff;
  color: #2e2e2e;
  cursor: auto;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0; }

a:hover {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.hide {
  display: none; }

.invisible {
  visibility: hidden; }

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

.row {
  margin: 0 auto;
  max-width: 73.125rem;
  width: 100%; }
  .row:before, .row:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    margin: 0 -0.9375rem;
    max-width: none;
    width: auto; }
    .row .row:before, .row .row:after {
      content: " ";
      /* 1 */
      display: table;
      /* 2 */ }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      margin: 0;
      max-width: none;
      width: auto; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */ }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

.column + .column:last-child,
.columns + .column:last-child, .column +
.columns:last-child,
.columns +
.columns:last-child {
  float: right; }
.column + .column.end,
.columns + .column.end, .column +
.columns.end,
.columns +
.columns.end {
  float: left; }

@media only screen {
  .small-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .small-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .small-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .small-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .small-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .small-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .small-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .small-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .small-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .small-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .small-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .small-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .small-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .small-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .small-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .small-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .small-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .small-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .small-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .small-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .small-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .small-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .small-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .small-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  .small-offset-0 {
    margin-left: 0 !important; }

  .small-offset-1 {
    margin-left: 8.33333% !important; }

  .small-offset-2 {
    margin-left: 16.66667% !important; }

  .small-offset-3 {
    margin-left: 25% !important; }

  .small-offset-4 {
    margin-left: 33.33333% !important; }

  .small-offset-5 {
    margin-left: 41.66667% !important; }

  .small-offset-6 {
    margin-left: 50% !important; }

  .small-offset-7 {
    margin-left: 58.33333% !important; }

  .small-offset-8 {
    margin-left: 66.66667% !important; }

  .small-offset-9 {
    margin-left: 75% !important; }

  .small-offset-10 {
    margin-left: 83.33333% !important; }

  .small-offset-11 {
    margin-left: 91.66667% !important; }

  .small-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.small-uncentered,
  .columns.small-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.small-centered:last-child,
  .columns.small-centered:last-child {
    float: none; }

  .column.small-uncentered:last-child,
  .columns.small-uncentered:last-child {
    float: left; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }

  .row.small-collapse > .column,
  .row.small-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.small-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.small-uncollapse > .column,
  .row.small-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; } }
@media only screen and (min-width: 40.0625em) {
  .medium-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .medium-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .medium-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .medium-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .medium-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .medium-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .medium-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .medium-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .medium-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .medium-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .medium-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .medium-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .medium-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .medium-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .medium-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .medium-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .medium-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .medium-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .medium-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .medium-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .medium-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .medium-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .medium-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .medium-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  .medium-offset-0 {
    margin-left: 0 !important; }

  .medium-offset-1 {
    margin-left: 8.33333% !important; }

  .medium-offset-2 {
    margin-left: 16.66667% !important; }

  .medium-offset-3 {
    margin-left: 25% !important; }

  .medium-offset-4 {
    margin-left: 33.33333% !important; }

  .medium-offset-5 {
    margin-left: 41.66667% !important; }

  .medium-offset-6 {
    margin-left: 50% !important; }

  .medium-offset-7 {
    margin-left: 58.33333% !important; }

  .medium-offset-8 {
    margin-left: 66.66667% !important; }

  .medium-offset-9 {
    margin-left: 75% !important; }

  .medium-offset-10 {
    margin-left: 83.33333% !important; }

  .medium-offset-11 {
    margin-left: 91.66667% !important; }

  .medium-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.medium-centered:last-child,
  .columns.medium-centered:last-child {
    float: none; }

  .column.medium-uncentered:last-child,
  .columns.medium-uncentered:last-child {
    float: left; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .row.medium-collapse > .column,
  .row.medium-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.medium-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.medium-uncollapse > .column,
  .row.medium-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
@media only screen and (min-width: 64.0625em) {
  .large-push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .large-pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .large-pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .large-push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .large-pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .large-push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .large-pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .large-push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .large-pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .large-push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .large-pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .large-push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .large-pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .large-push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .large-pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .large-push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .large-pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .large-push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .large-pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .large-push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .large-pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .large-push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .large-pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; }

  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  .large-offset-0 {
    margin-left: 0 !important; }

  .large-offset-1 {
    margin-left: 8.33333% !important; }

  .large-offset-2 {
    margin-left: 16.66667% !important; }

  .large-offset-3 {
    margin-left: 25% !important; }

  .large-offset-4 {
    margin-left: 33.33333% !important; }

  .large-offset-5 {
    margin-left: 41.66667% !important; }

  .large-offset-6 {
    margin-left: 50% !important; }

  .large-offset-7 {
    margin-left: 58.33333% !important; }

  .large-offset-8 {
    margin-left: 66.66667% !important; }

  .large-offset-9 {
    margin-left: 75% !important; }

  .large-offset-10 {
    margin-left: 83.33333% !important; }

  .large-offset-11 {
    margin-left: 91.66667% !important; }

  .large-reset-order {
    float: left;
    left: auto;
    margin-left: 0;
    margin-right: 0;
    right: auto; }

  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none; }

  .column.large-uncentered,
  .columns.large-uncentered {
    float: left;
    margin-left: 0;
    margin-right: 0; }

  .column.large-centered:last-child,
  .columns.large-centered:last-child {
    float: none; }

  .column.large-uncentered:last-child,
  .columns.large-uncentered:last-child {
    float: left; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .row.large-collapse > .column,
  .row.large-collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.large-collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row.large-uncollapse > .column,
  .row.large-uncollapse > .columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .push-0 {
    position: relative;
    left: 0;
    right: auto; }

  .pull-0 {
    position: relative;
    right: 0;
    left: auto; }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto; }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto; }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto; }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto; }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto; }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto; }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto; }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto; }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto; }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto; }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto; }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto; }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto; }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto; }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto; }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto; }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto; }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto; }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto; }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto; }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto; }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto; } }
.button {
  display: inline-block;
  min-width: 200px;
  letter-spacing: 0.3rem;
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 1.77778rem 1.2rem 1.77778rem;
  margin: 0 0 1.11111rem;
  font-size: 0.88889rem;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  -webkit-transition: 250ms all ease;
  transition: 250ms all ease;
  -moz-transition: 250ms all ease;
  -o-transition: 250ms all ease;
  -ms-transition: 250ms all ease; }
  @media only screen and (min-width: 40.0625em) {
    .button {
      min-width: 226px; } }
  .button:hover {
    color: #000;
    background-color: #fff; }
  .button.small {
    width: 50%; }
  .button.large {
    width: 75%; }
  .button.dark {
    color: #000;
    border-color: #000; }
    .button.dark:hover {
      color: #fff;
      background-color: #000; }

/* Standard Forms */
form {
  margin: 0 0 1.625rem; }

/* Using forms within rows, we need to set some defaults */
form .row .row {
  margin: 0 -0.8125rem; }
  form .row .row .column,
  form .row .row .columns {
    padding: 0 0.8125rem; }
  form .row .row.collapse {
    margin: 0; }
    form .row .row.collapse .column,
    form .row .row.collapse .columns {
      padding: 0; }
    form .row .row.collapse input {
      -webkit-border-bottom-right-radius: 0;
      -webkit-border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
form .row input.column,
form .row input.columns,
form .row textarea.column,
form .row textarea.columns {
  padding-left: 0.8125rem; }

/* Label Styles */
label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  /* Styles for required inputs */ }
  label.right {
    float: none !important;
    text-align: right; }
  label.inline {
    margin: 0 0 1.625rem 0;
    padding: 0.9375rem 0; }
  label small {
    text-transform: capitalize;
    color: #676767; }

/* Attach elements to the beginning or end of an input */
.prefix,
.postfix {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  height: 3.1875rem;
  line-height: 3.1875rem;
  overflow: visible;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2; }

/* Separate prefix and postfix styles when on span or label so buttons keep their own */
span.prefix, label.prefix {
  background: #f2f2f2;
  border-right: none;
  color: #333333;
  border-color: #cccccc; }

span.postfix, label.postfix {
  background: #f2f2f2;
  color: #333333;
  border-color: #cccccc; }

/* We use this to get basic styling on all basic form elements */
select,
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #848484;
  box-shadow: none;
  color: #848484;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-family: inherit;
  font-size: 0.8125rem;
  height: 3.1875rem;
  margin: 0 0 1.625rem 0;
  padding: 0.8125rem;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s linear, background 0.15s linear;
  -moz-transition: border-color 0.15s linear, background 0.15s linear;
  -ms-transition: border-color 0.15s linear, background 0.15s linear;
  -o-transition: border-color 0.15s linear, background 0.15s linear;
  transition: border-color 0.15s linear, background 0.15s linear; }
  select:focus,
  input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
    background: transparent;
    border-color: #fff;
    outline: none;
    color: #FFFFFF; }
    select:focus option,
    input[type="text"]:focus option, input[type="password"]:focus option, input[type="date"]:focus option, input[type="datetime"]:focus option, input[type="datetime-local"]:focus option, input[type="month"]:focus option, input[type="week"]:focus option, input[type="email"]:focus option, input[type="number"]:focus option, input[type="search"]:focus option, input[type="tel"]:focus option, input[type="time"]:focus option, input[type="url"]:focus option, input[type="color"]:focus option, textarea:focus option {
      color: initial; }
  select:disabled,
  input[type="text"]:disabled, input[type="password"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="color"]:disabled, textarea:disabled {
    background-color: #DDDDDD;
    cursor: default; }
  select[disabled], select[readonly], fieldset[disabled] select,
  input[type="text"][disabled],
  input[type="text"][readonly], fieldset[disabled]
  input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
    background-color: #DDDDDD;
    cursor: default; }
  select.radius,
  input[type="text"].radius, input[type="password"].radius, input[type="date"].radius, input[type="datetime"].radius, input[type="datetime-local"].radius, input[type="month"].radius, input[type="week"].radius, input[type="email"].radius, input[type="number"].radius, input[type="search"].radius, input[type="tel"].radius, input[type="time"].radius, input[type="url"].radius, input[type="color"].radius, textarea.radius {
    border-radius: 3px; }

form .row .prefix-radius.row.collapse input,
form .row .prefix-radius.row.collapse textarea,
form .row .prefix-radius.row.collapse select,
form .row .prefix-radius.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
form .row .prefix-radius.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }
form .row .postfix-radius.row.collapse input,
form .row .postfix-radius.row.collapse textarea,
form .row .postfix-radius.row.collapse select,
form .row .postfix-radius.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
form .row .postfix-radius.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }
form .row .prefix-round.row.collapse input,
form .row .prefix-round.row.collapse textarea,
form .row .prefix-round.row.collapse select,
form .row .prefix-round.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
form .row .prefix-round.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }
form .row .postfix-round.row.collapse input,
form .row .postfix-round.row.collapse textarea,
form .row .postfix-round.row.collapse select,
form .row .postfix-round.row.collapse button {
  border-radius: 0;
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }
form .row .postfix-round.row.collapse .postfix {
  border-radius: 0;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0; }

/* Respect enforced amount of rows for textarea */
textarea[rows] {
  height: auto; }

/* Not allow resize out of parent */
textarea {
  max-width: 100%;
  height: 10rem; }

::-webkit-input-placeholder {
  color: #848484; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #848484; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #848484; }

:-ms-input-placeholder {
  color: #848484; }

/* Add height value for select elements to match text input height */
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  background-color: transparent;
  border-radius: 0;
  background-image: url("../img/arrow2.svg");
  background-position: 96% center;
  background-size: 15px;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 2px;
  border-color: #848484;
  color: #848484;
  font-family: inherit;
  font-size: 0.8125rem;
  line-height: normal;
  padding: 0.8125rem;
  border-radius: 0;
  height: 3.1875rem; }
  select::-ms-expand {
    display: none; }
  select.radius {
    border-radius: 3px; }
  select:hover {
    background-position: 96% center;
    background-size: 15px; }
  select:disabled {
    background-color: #DDDDDD;
    cursor: default; }
  select:focus {
    background: url("../img/arrow2.svg") 96% center no-repeat;
    background-size: 15px; }
  select[multiple] {
    height: auto; }

/* Adjust margin for form elements below */
input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 0 1.625rem 0; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  margin-left: 0.8125rem;
  margin-right: 1.625rem;
  margin-bottom: 0;
  vertical-align: baseline; }

/* Normalize file input width */
input[type="file"] {
  width: 100%; }

/* HTML5 Number spinners settings */
/* We add basic fieldset styling */
fieldset {
  border: 0px none transparent;
  margin: 1.125rem 0;
  padding: 0; }
  fieldset legend {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    background: transparent;
    font-weight: normal;
    margin: 0 auto 1.5rem auto;
    padding: 0 0.1875rem; }

/* Error Handling */
[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1.625rem;
  margin-top: -1px;
  padding: 0.375rem 0.5625rem 0.5625rem;
  background: #f04124;
  color: #FFFFFF; }
[data-abide] span.error, [data-abide] small.error {
  display: none; }

span.error, small.error {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1.625rem;
  margin-top: -1px;
  padding: 0.375rem 0.5625rem 0.5625rem;
  background: #f04124;
  color: #FFFFFF; }

.error input,
.error textarea,
.error select {
  margin-bottom: 0; }
.error input[type="checkbox"],
.error input[type="radio"] {
  margin-bottom: 1.625rem; }
.error label,
.error label.error {
  color: #f04124; }
.error small.error {
  display: block;
  font-size: 0.75rem;
  font-style: italic;
  font-weight: normal;
  margin-bottom: 1.625rem;
  margin-top: -1px;
  padding: 0.375rem 0.5625rem 0.5625rem;
  background: #f04124;
  color: #FFFFFF; }
.error > label > small {
  background: transparent;
  color: #676767;
  display: inline;
  font-size: 60%;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-transform: capitalize; }
.error span.error-message {
  display: block; }

input.error,
textarea.error,
select.error {
  margin-bottom: 0; }

label.error {
  color: #f04124; }

footer {
  border-top: 1px solid #2c2c2c;
  text-align: center;
  width: 100%;
  padding: 4.375em 0 4.375em 0;
  color: #fff;
  letter-spacing: 0.3rem;
  background-color: #000;
  text-transform: uppercase; }
  footer a {
    text-decoration: none;
    -webkit-transition: 250ms all ease;
    transition: 250ms all ease;
    -moz-transition: 250ms all ease;
    -o-transition: 250ms all ease;
    -ms-transition: 250ms all ease; }
  footer .logo {
    max-width: 4rem;
    display: inline-block; }
  footer .terms .links {
    overflow: auto;
    margin-bottom: 3rem; }
    footer .terms .links .hive {
      float: none;
      text-align: center; }
      @media only screen and (min-width: 64.0625em) {
        footer .terms .links .hive {
          float: left;
          border-right: 1px solid #2a2a2a;
          padding-right: 11.6%; } }
    footer .terms .links .dpg {
      float: none;
      text-align: center; }
      @media only screen and (min-width: 64.0625em) {
        footer .terms .links .dpg {
          float: right; } }
  footer .terms a {
    margin: 1rem 0;
    font-size: 0.750rem;
    display: block;
    color: #fff; }
    footer .terms a:hover {
      color: #85c2b6; }
  footer .copyright {
    font-size: 0.725em;
    color: #7e7e7e; }
    footer .copyright a {
      color: #acacac;
      opacity: 0.7;
      -moz-opacity: 0.7;
      -khtml-opacity: 0.7;
      filter: alpha(opacity=70); }
      footer .copyright a:hover {
        opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        filter: alpha(opacity=100); }

.menu {
  display: none;
  background: transparent;
  padding: 1.438rem;
  margin: 1.438rem 0;
  width: 100%;
  height: 74px;
  z-index: 50;
  position: absolute; }
  .menu:before, .menu:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .menu:after {
    clear: both; }
  .menu .sub-nav {
    display: inline-block;
    float: right;
    list-style: none;
    padding: 0.3em 0 0 0;
    margin: 0;
    font-size: 75%;
    letter-spacing: 0.35rem;
    font-weight: 100; }
    .menu .sub-nav li {
      padding: 0 0.3rem;
      margin-bottom: 0;
      float: left; }
    .menu .sub-nav a {
      text-transform: uppercase;
      line-height: 1.8em;
      text-decoration: none;
      color: #FFFFFF;
      margin: 0 1rem; }
      .menu .sub-nav a:after, .menu .sub-nav a:before {
        content: '';
        width: 2px;
        height: 20px;
        background: #FFFFFF;
        display: inline-block;
        margin-bottom: 3px;
        vertical-align: middle;
        opacity: 0;
        -moz-opacity: 0;
        -khtml-opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transition: 250ms all ease;
        transition: 250ms all ease;
        -moz-transition: 250ms all ease;
        -o-transition: 250ms all ease;
        -ms-transition: 250ms all ease; }
      .menu .sub-nav a:hover:after, .menu .sub-nav a:hover:before {
        opacity: 1;
        -moz-opacity: 1;
        -khtml-opacity: 1;
        filter: alpha(opacity=100); }
      .menu .sub-nav a:hover:after {
        -webkit-transform: translate(15px, 0);
        -ms-transform: translate(15px, 0);
        transform: translate(15px, 0); }
      .menu .sub-nav a:hover:before {
        -webkit-transform: translate(-15px, 0);
        -ms-transform: translate(-15px, 0);
        transform: translate(-15px, 0); }
  @media only screen and (min-width: 64.0625em) {
    .menu {
      display: block; } }
  .menu.fixed {
    margin: 0;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    background: #000000;
    position: fixed;
    left: 0;
    top: -74px;
    width: 100%;
    -webkit-transition: 150ms all ease;
    transition: 150ms all ease;
    -moz-transition: 150ms all ease;
    -o-transition: 150ms all ease;
    -ms-transition: 150ms all ease; }

.scrolled .menu.fixed {
  top: 0;
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  filter: alpha(opacity=100); }

header {
  position: absolute;
  width: 100%; }
  header .header-logo {
    float: left;
    width: 60px;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0); }
    @media only screen and (min-width: 40.0625em) {
      header .header-logo {
        width: 94px; } }
  header .fixed .header-logo {
    -webkit-transition: 250ms opacity ease 250ms;
    transition: 250ms opacity ease 250ms;
    -moz-transition: 250ms opacity ease 250ms;
    -o-transition: 250ms opacity ease 250ms;
    -ms-transition: 250ms opacity ease 250ms;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100); }
  header .row {
    position: relative; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: transparent; }

body {
  overflow-y: scroll;
  overflow-x: hidden; }
  body.noscroll {
    overflow: hidden; }
    body.noscroll section#team, body.noscroll section#locals {
      opacity: 0;
      -moz-opacity: 0;
      -khtml-opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: 350ms opacity ease, 350ms transform ease;
      transition: 350ms opacity ease, 350ms transform ease;
      -moz-transition: 350ms opacity ease, 350ms transform ease;
      -o-transition: 350ms opacity ease, 350ms transform ease;
      -ms-transition: 350ms opacity ease, 350ms transform ease; }

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.55rem; }
  @media only screen and (min-width: 40.0625em) {
    h2 {
      font-size: 1.999rem; } }

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.33rem; }

h5 {
  font-size: 0.938rem;
  letter-spacing: 0.3rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "ag_book_stencil", Cambria, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-weight: normal;
  -webkit-font-smoothing: antialiased; }

p {
  font-size: 160%;
  line-height: 1.8; }
  @media only screen and (min-width: 40.0625em) {
    p {
      font-size: 110%; } }
  @media only screen and (min-width: 64.0625em) {
    p {
      font-size: 95%; } }

strong {
  font-size: 1.15rem; }

.highlight {
  color: #85c2b6; }

.subheading {
  text-transform: uppercase;
  font-family: "ag_book_stencil", Cambria, "Times New Roman", Times, serif;
  font-size: 1.07rem;
  color: #A8A8A8;
  letter-spacing: 0.299rem;
  font-weight: normal;
  display: block;
  margin-bottom: 1.8rem;
  margin-top: 0.18rem;
  -webkit-font-smoothing: antialiased; }

section {
  padding: 1.938rem 0 1.625rem 0; }
  @media only screen and (min-width: 40.0625em) {
    section {
      padding: 1.938rem 0 1.625rem 0; } }
  @media only screen and (min-width: 64.0625em) {
    section {
      padding: 5.938rem 0 2.625rem 0; } }
  section#team, section#locals {
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: 350ms opacity ease 0.1s, 350ms transform ease 0.1s;
    transition: 350ms opacity ease 0.1s, 350ms transform ease 0.1s;
    -moz-transition: 350ms opacity ease 0.1s, 350ms transform ease 0.1s;
    -o-transition: 350ms opacity ease 0.1s, 350ms transform ease 0.1s;
    -ms-transition: 350ms opacity ease 0.1s, 350ms transform ease 0.1s; }

.inner {
  padding: 0.5375rem 0;
  float: left; }
  @media only screen and (min-width: 40.0625em) {
    .inner {
      padding: 0.5375rem; } }
  .inner img {
    width: 100%; }

@media only screen and (min-width: 40.0625em) {
  .right-text p {
    margin-left: 0.9rem; } }

.heading {
  text-align: center;
  padding-bottom: 2rem; }
  .heading h2 {
    display: block; }
  .heading .subheading {
    display: inline-block; }

#hero-banner {
  display: table;
  position: relative;
  background-image: url("../img/heros/HeroBanner-2.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px; }
  @media only screen and (min-width: 40.0625em) {
    #hero-banner {
      height: 700px; } }
  @media only screen and (min-width: 64.0625em) {
    #hero-banner {
      height: 100vh;
      border-bottom: 45px solid white;
      background-attachment: fixed; } }
  #hero-banner .callout {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%; }
    #hero-banner .callout #logo {
      max-width: 560px; }
    #hero-banner .callout .button {
      margin: 2.500em 0 0 0;
      max-width: 200px; }
      @media only screen and (min-width: 40.0625em) {
        #hero-banner .callout .button {
          max-width: 250px; } }
  #hero-banner .down-arrow {
    display: none; }
    @media only screen and (min-width: 64.0625em) {
      #hero-banner .down-arrow {
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        right: 0;
        width: 3rem;
        margin-left: -1.500rem;
        margin-bottom: 3rem; } }
  #hero-banner .logo-container {
    margin-bottom: 12rem; }
    @media only screen and (min-width: 40.0625em) {
      #hero-banner .logo-container {
        margin-bottom: 10rem; } }
  #hero-banner .contact-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 6rem; }
    @media only screen and (min-width: 40.0625em) {
      #hero-banner .contact-container {
        margin-bottom: 7rem; } }
    @media only screen and (min-width: 64.0625em) {
      #hero-banner .contact-container {
        margin-bottom: 9rem; } }
  #hero-banner .contact-text {
    display: block;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
    #hero-banner .contact-text p {
      margin-top: 0;
      margin-bottom: 0.2rem; }
      #hero-banner .contact-text p.line3 {
        font-weight: 600;
        font-size: 1.5rem; }
      #hero-banner .contact-text p.line4 span {
        display: block; }
        @media only screen and (min-width: 40.0625em) {
          #hero-banner .contact-text p.line4 span {
            display: inline-block; } }
  #hero-banner .callout-text {
    display: block;
    margin: 3rem 0 2rem 0;
    color: white;
    font-weight: 100;
    opacity: 0.9;
    -webkit-font-smoothing: antialiased; }
    @media only screen and (min-width: 40.0625em) {
      #hero-banner .callout-text {
        margin: 5rem 0 2rem 0; } }
    #hero-banner .callout-text p {
      margin: 0;
      font-size: 1.5rem;
      -webkit-font-smoothing: auto; }
      @media only screen and (min-width: 40.0625em) {
        #hero-banner .callout-text p {
          font-size: 2rem;
          -webkit-font-smoothing: antialiased; } }
      #hero-banner .callout-text p.line {
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 1px; }
      #hero-banner .callout-text p.line2 {
        font-weight: 500; }

.horizontalSlide-container {
  display: none; }
  @media only screen and (min-width: 64.0625em) {
    .horizontalSlide-container {
      display: block; } }

#area .group {
  float: left; }
  @media only screen and (min-width: 64.0625em) {
    #area .group.left {
      padding-right: 1.1375rem; } }
  #area .group.left .info-container p {
    width: 100%; }
    @media only screen and (min-width: 40.0625em) {
      #area .group.left .info-container p {
        width: 95%; } }
#area .verticalSlide-container2,
#area .verticalSlide-container {
  display: none; }
  @media only screen and (min-width: 40.0625em) {
    #area .verticalSlide-container2,
    #area .verticalSlide-container {
      padding-top: 1.1rem;
      display: block; } }
@media only screen and (min-width: 64.0625em) {
  #area .verticalSlide-container2 {
    padding-right: 0.95rem; } }

#about p {
  width: 100%; }
  @media only screen and (min-width: 40.0625em) {
    #about p {
      width: 95%; } }

#map-canvas {
  width: 100%;
  height: 332px; }
  @media only screen and (min-width: 40.0625em) {
    #map-canvas {
      height: 665px; } }

.background-seperator {
  padding: 0; }
  @media only screen and (min-width: 40.0625em) {
    .background-seperator {
      height: 700px;
      margin-top: 5.938rem;
      background-image: url("../img/separators/bg-separator.jpg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-attachment: scroll;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
      width: 100%;
      margin-bottom: 1.625rem; } }

.content {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  backface-visibility: hidden; }
  .content .namepos {
    position: absolute;
    z-index: 2;
    text-align: center;
    min-height: 74px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    color: #FFFFFF;
    -webkit-transform: translate(0, -25px);
    -ms-transform: translate(0, -25px);
    transform: translate(0, -25px);
    -webkit-transition: 350ms transform ease 250ms;
    transition: 350ms transform ease 250ms;
    -moz-transition: 350ms transform ease 250ms;
    -o-transition: 350ms transform ease 250ms;
    -ms-transition: 350ms transform ease 250ms; }
    @media only screen and (min-width: 40.0625em) {
      .content .namepos {
        width: 75%; } }
  .content h5 {
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
    -webkit-transition: 350ms all ease 150ms;
    transition: 350ms all ease 150ms;
    -moz-transition: 350ms all ease 150ms;
    -o-transition: 350ms all ease 150ms;
    -ms-transition: 350ms all ease 150ms; }
  .content img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 1s transform ease;
    transition: 1s transform ease;
    -moz-transition: 1s transform ease;
    -o-transition: 1s transform ease;
    -ms-transition: 1s transform ease; }
  .content .gradient {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(top, transparent 0%, #000 100%);
    background-image: -moz-linear-gradient(top, transparent 0%, #000 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #000 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#FF000000', GradientType=0);
    -webkit-transition: 250ms opacity ease;
    transition: 250ms opacity ease;
    -moz-transition: 250ms opacity ease;
    -o-transition: 250ms opacity ease;
    -ms-transition: 250ms opacity ease; }
  .content:hover .namepos {
    -webkit-transform: translate(0, -55px);
    -ms-transform: translate(0, -55px);
    transform: translate(0, -55px);
    -webkit-transition: 350ms transform ease 50ms;
    transition: 350ms transform ease 50ms;
    -moz-transition: 350ms transform ease 50ms;
    -o-transition: 350ms transform ease 50ms;
    -ms-transition: 350ms transform ease 50ms; }
  .content:hover .gradient {
    opacity: 0.4;
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    filter: alpha(opacity=40); }
  .content:hover h5 {
    -webkit-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    transform: translate(0, 5px);
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100); }
  .content:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.bio-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  padding: 3rem 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
  background-color: white;
  opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 250ms opacity ease;
  transition: 250ms opacity ease;
  -moz-transition: 250ms opacity ease;
  -o-transition: 250ms opacity ease;
  -ms-transition: 250ms opacity ease; }
  @media only screen and (min-width: 40.0625em) {
    .bio-overlay {
      padding: 3rem 0rem; } }
  .bio-overlay .image {
    -webkit-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0); }
    .bio-overlay .image.one {
      -webkit-transition: 450ms all ease 0.4s;
      transition: 450ms all ease 0.4s;
      -moz-transition: 450ms all ease 0.4s;
      -o-transition: 450ms all ease 0.4s;
      -ms-transition: 450ms all ease 0.4s; }
    .bio-overlay .image.two {
      display: none; }
      @media only screen and (min-width: 40.0625em) {
        .bio-overlay .image.two {
          display: block;
          margin-top: 0.9375rem;
          -webkit-transition: 450ms all ease 0.5s;
          transition: 450ms all ease 0.5s;
          -moz-transition: 450ms all ease 0.5s;
          -o-transition: 450ms all ease 0.5s;
          -ms-transition: 450ms all ease 0.5s; } }
    .bio-overlay .image.three {
      display: none; }
      @media only screen and (min-width: 40.0625em) {
        .bio-overlay .image.three {
          display: block;
          margin-top: 0.9375rem;
          -webkit-transition: 450ms all ease 0.6s;
          transition: 450ms all ease 0.6s;
          -moz-transition: 450ms all ease 0.6s;
          -o-transition: 450ms all ease 0.6s;
          -ms-transition: 450ms all ease 0.6s; } }
  .bio-overlay .info {
    -webkit-transform: translate(20px, 0);
    -ms-transform: translate(20px, 0);
    transform: translate(20px, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e1e8e7;
    padding: 1.5rem;
    border: 0.5rem solid white;
    opacity: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: 450ms transform ease 0.7s, 450ms opacity ease 0.7s;
    transition: 450ms transform ease 0.7s, 450ms opacity ease 0.7s;
    -moz-transition: 450ms transform ease 0.7s, 450ms opacity ease 0.7s;
    -o-transition: 450ms transform ease 0.7s, 450ms opacity ease 0.7s;
    -ms-transition: 450ms transform ease 0.7s, 450ms opacity ease 0.7s; }
  .bio-overlay.visable {
    visibility: visible;
    opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: 250ms opacity ease 0.2s;
    transition: 250ms opacity ease 0.2s;
    -moz-transition: 250ms opacity ease 0.2s;
    -o-transition: 250ms opacity ease 0.2s;
    -ms-transition: 250ms opacity ease 0.2s; }
    .bio-overlay.visable .image {
      -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
      transform: translate(0px, 0);
      opacity: 1;
      -moz-opacity: 1;
      -khtml-opacity: 1;
      filter: alpha(opacity=100); }
    .bio-overlay.visable .info {
      -webkit-transform: translate(0px, 0);
      -ms-transform: translate(0px, 0);
      transform: translate(0px, 0);
      opacity: 1;
      -moz-opacity: 1;
      -khtml-opacity: 1;
      filter: alpha(opacity=100); }
  .bio-overlay .overlay-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    margin: 1rem; }
  .bio-overlay .bio-images {
    padding: 0.5375rem 0.5rem; }

.bio-container {
  max-width: 1170px;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

#register {
  color: #fff;
  margin-top: 3rem;
  padding: 5.938rem 0;
  background-color: #000;
  background-image: url(""); }
  #register form {
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: center; }
    @media only screen and (min-width: 40.0625em) {
      #register form {
        width: 70%; } }

.thankyou-template {
  margin: 0 !important; }

.thankyou #hero-banner {
  border-bottom: none;
  width: 100%;
  height: 100vh; }
  @media only screen and (min-width: 40.0625em) {
    .thankyou #hero-banner {
      height: 100vh; } }
  @media only screen and (min-width: 64.0625em) {
    .thankyou #hero-banner {
      height: 100vh; } }

/*# sourceMappingURL=layout.css.map */
