
// @fontface

@font-face {
  font-family: 'ag_book_stencil';
  src: url('../fonts/ag_book_stencil-webfont.eot');
  src: url('../fonts/ag_book_stencil-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ag_book_stencil-webfont.woff2') format('woff2'),
  url('../fonts/ag_book_stencil-webfont.woff') format('woff'),
  url('../fonts/ag_book_stencil-webfont.ttf') format('truetype'),
  url('../fonts/ag_book_stencil-webfont.svg#ag_book_stencilmedium') format('svg');
  font-weight: normal;
  font-style: normal;

}

// Imports

@import 'includes/grid';
@import 'includes/forms';
@import 'includes/footer';
@import 'includes/header';
@import 'includes/carousel';

// BASE STYLES


body{
  overflow-y: scroll;
  overflow-x:hidden;
  &.noscroll{
    overflow: hidden;
    section{
      &#team,
      &#locals {
        @include opacity(0);
        @include transition(350ms opacity ease,350ms transform ease);
      }
    }
  }
}

h2{
  font-size: 1.7rem;
  letter-spacing: $h2-heading-spacing;
  @media #{$medium-up} {
    font-size: $h2-heading-size;
  }
}

h4{
  font-size: $h4-heading-size;
  letter-spacing: $h4-letter-spacing;
}

h5{
  font-size: $h5-heading-size;
  letter-spacing: $h5-letter-spacing;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
}

p{
  font-size: 160%;
  line-height:1.8;
  @media #{$medium-up} {
    font-size: 110%;
  }
  @media #{$large-up} {
    font-size: 95%;
  }
}

strong{
  font-size: 1.15rem;
}

.highlight{
  color: $heading-highlight-color;
}

.subheading{
  text-transform: $sub-heading-transform;
  font-family: $heading-font-family;
  font-size: $sub-heading-size;
  color: $sub-heading-color;
  letter-spacing: $sub-heading-spacing;
  font-weight:normal;
  display: block;
  margin-bottom: 1.8rem;
  margin-top: 0.18rem;
  -webkit-font-smoothing: antialiased;
}

section{
  padding:1.938rem 0 1.625rem 0;
  @media #{$medium-up} {
    padding:1.938rem 0 1.625rem 0;
  }
  @media #{$large-up} {
    padding:5.938rem 0 2.625rem 0;
  }
  &#team,
  &#locals{
    @include opacity(1);
    @include translate(0,0);
    @include transition(350ms opacity ease 0.1s,350ms transform ease 0.1s);
  }
}

.inner{
  padding: 0.5375rem 0;
  float:left;
  @media #{$medium-up} {
    padding: 0.5375rem;
  }
  img{
    width:100%;
  }
}

.right-text{
  p{
    @media #{$medium-up} {
      margin-left: 0.9rem;
    }
  }
}


.heading{
  text-align: center;
  padding-bottom: 2rem;
  h2{
    display: block;
  }
   .subheading{
    display: inline-block;
  }
}

// Hero Banner / Slider

#hero-banner{
  display: table;
  position: relative;
  background-image: $hero-url;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  @include background-size(cover);
  width:100%;
  height:500px;
  @media #{$medium-up} {
    height:700px;
  }
  @media #{$large-up} {
    height:100vh;
    border-bottom: 45px solid white;
    background-attachment: fixed;
  }
  .callout{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    #logo{
      max-width: 560px;
    }
    .button{
      margin:2.500em 0 0 0;
      max-width: 200px;
      @media #{$medium-up}{
        max-width: 250px;
      }
    }
  }
  .down-arrow{
    display:none;
    @media #{$large-up}{
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      right: 0;
      width: 3rem;
      margin-left: -1.500rem;
      margin-bottom: 3rem;
    }
  }

  .logo-container{
    margin-bottom: 12rem;
    @media #{$medium-up}{
      margin-bottom: 10rem;
    }
  }

  .contact-container{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 6rem;
    @media #{$medium-up}{
      margin-bottom: 7rem;
    }
    @media #{$large-up}{
      margin-bottom: 9rem;
    }
  }

  .contact-text{
    display: block;
    font-weight: 100;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 70%;
    margin: 0 auto;
    @media #{$small-only}{
      width:100%;
    }
    p{
      margin-top: 0;
      margin-bottom: 0.2rem;
      &.line3{
        font-weight:600;
        font-size: 1.5rem;
      }
    }
  }
  .callout-text{
    display: block;
    margin: 3rem 0 2rem 0;
    color: white;
    font-weight: 100;
    opacity: 0.9;
    -webkit-font-smoothing: antialiased;
    @media #{$medium-up}{
      margin: 5rem 0 2rem 0;
    }

    p{
      margin:0;
      font-size: 1.5rem;
      -webkit-font-smoothing: auto;
      @media #{$medium-up}{
        font-size: 2rem;
        -webkit-font-smoothing: antialiased;
      }
      &.line{
        font-weight: 700;
        font-size: 1.6rem;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      &.line2{
        font-weight: 500;
      }
    }
  }
}

.horizontalSlide-container{
  display: none;
  @media #{$large-up}{
    display: block;
  }
}

// About the area

#area{
  .group{
    float:left;
    &.left{
      @media #{$large-up} {
        padding-right: 1.1375rem;
      }
      .info-container{
        p{
          width:100%;
          @media #{$medium-up} {
            width: 95%;
          }
        }
      }
    }
  }
  .verticalSlide-container2,
  .verticalSlide-container{
    display: none;
    @media #{$medium-up}{
      padding-top: 1.1rem;
      display: block;
    }
  }
  .verticalSlide-container2{
    @media #{$large-up}{
      padding-right: 0.95rem;
    }
  }
}

// About hive

#about{
  p{
    width:100%;
    @media #{$medium-up} {
      width: 95%;
    }
  }
}

// Map

#map-canvas {
  width: 100%;
  height: 332px;
  @media #{$medium-up} {
    height: 665px;
  }
}

// Background separator

.background-seperator {
  padding:0;
  @media #{$medium-up} {
    height:700px;
    margin-top: 5.938rem;
    background-image: $bg-seperator-url;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    @include background-size(cover);
    width:100%;
    margin-bottom: 1.625rem;
  }
}


// locals / Team

.content{
  cursor: pointer;
  position: relative;
  overflow:hidden;
  backface-visibility: hidden;
  .namepos{
    position: absolute;
    z-index: 2;
    text-align: center;
    min-height: 74px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    right: 0;
    left: 0;
    display:block;
    color: $white;
    @include translate(0,-25px);
    @include transition(350ms transform ease 250ms);
    @media #{$medium-up} {
      width: 75%;
    }
  }
  h5{
    @include opacity(0);
    @include translate(0,-10px);
    @include transition(350ms all ease 150ms);
  }
  img{
    @include scale(1);
    @include transition(1s transform ease);
  }
  .gradient{
    height:100%;
    width:100%;
    position: absolute;
    z-index: 1;
    left:0;
    @include opacity(0);
    @include gradient-vertical(transparent, #000, 0% , 100%);
    @include transition(250ms opacity ease);
  }
  &:hover{
    .namepos{
      @include translate(0,-55px);
      @include transition(350ms transform ease 50ms);
    }
    .gradient{
      @include opacity(0.4);
    }
    h5{
      @include translate(0,5px);
      @include opacity(1);
    }
    img{
      @include scale(1.1);
    }
  }
}

// locals / Team overlay

.bio-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 90;
  padding: 3rem 0.5rem;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
  background-color: white;
  @include opacity(0);
  @include transition(250ms opacity ease);
  @media #{$medium-up}{
    padding: 3rem 0rem;
  }
  .image{
    @include translate(-50px,0);
    @include opacity(0);
    &.one{
      @include transition(450ms all ease 0.4s);
    }
    &.two{
      display: none;
      @media #{$medium-up}{
        display: block;
        margin-top: 0.9375rem;
        @include transition(450ms all ease 0.5s);
      }
    }
    &.three{
      display: none;
      @media #{$medium-up}{
        display:block;
        margin-top: 0.9375rem;
        @include transition(450ms all ease 0.6s);
      }
    }
  }
  .info{
    @include translate(20px,0);
    @include box-sizing(border-box);
    background-color: #e1e8e7;
    padding: 1.5rem;
    border: 0.5rem solid white;
    @include opacity(0);
    @include transition(450ms transform ease 0.7s,450ms opacity ease 0.7s );
  }
  &.visable{
    visibility: visible;
    @include opacity(1);
    @include transition(250ms opacity ease 0.2s);
    .image {
      @include translate(0px, 0);
      @include opacity(1);
    }
    .info{
      @include translate(0px,0);
      @include opacity(1);
    }
  }
  .overlay-button{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    margin: 1rem;
  }
  .bio-images{
    padding:0.5375rem 0.5rem;
  }
}

.bio-container{
  max-width: 1170px;
  width:100%;
  height:100%;
  margin: 0 auto;
}

// Register

#register{
  color:$register-text-color;
  margin-top: 3rem;
  padding:5.938rem 0;
  background-color: $register-bg-color;
  background-image: $register-hero-url;
  form{
    width: 90%;
    margin: 0 auto 1rem auto;
    text-align: center;
    @media #{$medium-up} {
      width: 70%;
    }
  }
}

// Thank you

.thankyou-template{
  margin:0 !important;
}

.thankyou{
  #hero-banner{
    border-bottom:none;
    width:100%;
    height:100vh;
    @media #{$medium-up} {
      height:100vh;
    }
    @media #{$large-up} {
      height:100vh;
    }
  }
}



