
.button{
  display: inline-block;
  min-width: 200px;
  letter-spacing: $base-button-spacing;
  color:$base-font-color;
  background-color: $base-background-color;
  border-color:$base-border-color;
  border-width:$border-width;
  border-style:solid;
  text-transform:$button-text-transform;
  text-decoration:$text-decoration;
  padding: 1.2rem 1.77778rem 1.2rem 1.77778rem;
  margin: 0 0 1.11111rem;
  font-size: 0.88889rem;
  font-weight: normal;
  line-height: normal;
  position: relative;
  text-align: center;
  @media #{$medium-up} {
    min-width: 226px;
  }
  @include transition(250ms all ease);
  &:hover{
    color:$base-font-hover-color;
    background-color: $base-background-hover-color;
  }
  &.small{
    width:$base-size-small;
  }
  &.large{
    width:$base-size-large;
  }
  &.dark{
    color:$dark-font-color;
    border-color:$dark-border-color;
    &:hover{
      color:$dark-font-hover-color;
      background-color: $dark-background-hover-color;
    }
  }
}
