


footer {
  border-top:$footer-border;
  text-align: $footer-base-alignment;
  width: 100%;
  padding:4.375em 0 4.375em 0;
  color:$footer-font-color;
  letter-spacing: $footer-letter-spacing;
  background-color: $footer-background-color;
  text-transform:$footer-text-transform;
  a{
    text-decoration: none;
    @include transition(250ms all ease);
  }
  .logo{
    max-width:4rem;
    display: inline-block;
  }
  .terms{
    .links{
      overflow: auto;
      margin-bottom: 3rem;
      .hive{
        float: none;
        text-align: center;
        @media #{$large-up} {
          float:left;
          border-right: 1px solid rgb(42, 42, 42);
          padding-right: 11.6%;
        }
      }
      .dpg{
        float: none;
        text-align: center;
        @media #{$large-up} {
          float:right
        }
      }
    }
    a{
      margin:1rem 0;
      font-size: 0.750rem;
      display: block;
      color:$footer-link-terms-color;
      &:hover{
        color: $footer-link-terms-hover-color;
      }
    }
  }
  .copyright{
    font-size:0.725em;
    color:$footer-text-copyright-color;
    a{
      color:$footer-link-copyright-color;
      @include opacity(0.7);
      &:hover{
        @include opacity(1);
      }
    }
  }
}