
// Imports

@import "menu";

header{
  position: absolute;
  width: 100%;
  .header-logo{
    float: left;
    width: 60px;
    @include opacity(0);
    @media #{$medium-up}{
      width: 94px;
    }
  }
  .fixed{
    .header-logo{
      @include transition(250ms opacity ease 250ms);
      @include opacity(1);
    }
  }
  .row{
    position: relative;
  }
}

