
.menu {
  display: none;
  background: $menu-bg;
  padding: $menu-padding;
  margin:$menu-margin;
  @include clearfix();
  width:100%;
  height: $menu-height;
  z-index: 50;
  position: absolute;
  .sub-nav {
    display: inline-block;
    float:right;
    list-style: none;
    padding:0.3em 0 0 0;
    margin:0;
    font-size: $menu-font-size;
    letter-spacing: $menu-font-spacing;
    font-weight:$menu-font-weight;
    li {
      padding:0 0.3rem;
      margin-bottom: 0;
      float:left;
    }
    a {
      text-transform: $menu-text-transform;
      line-height: 1.8em;
      text-decoration: none;
      color:$white;
      margin: $menu-link-margin;
      &:after,
      &:before{
        content: '';
        width: 2px;
        height: 20px;
        background: $white;
        display: inline-block;
        margin-bottom: 3px;
        vertical-align: middle;
        @include opacity(0);
        @include translate(0,0);
        @include transition(250ms all ease);
      }
      &:hover{
        &:after,
        &:before{
          @include opacity(1);
        }
        &:after{
          @include translate(15px,0);
        }
        &:before{
          @include translate(-15px,0);
        }
      }
    };
  }
  @media #{$large-up}{
    display: block;
  }
  &.fixed{
    margin:0;
    @include opacity(0);
    background:$menu-bg-fixed;
    position: fixed;
    left:0;
    top:-74px;
    width: 100%;
    @include transition(150ms all ease);
  }
}

.scrolled{
  .menu{
    &.fixed{
      top:0;
      @include opacity(1);
    }
  }
}



